<div class="row editable_post_block comment_edition">
    <div ng-if="$parent.$parent.$parent.features['Vote']"  class="col-xs-1">
        <form form ng-controller="CommentController" ng-submit="upVote(comment)">
            <h4 style="margin : 0px" class="text-center">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-triangle-top"></span>
                </button>
            </h4>
        </form>

        <h5 style="margin: 0px" class="text-center">
            <span>
                {{comment.vote}}
            </span>
        </h5>
        <form ng-controller="CommentController" ng-submit="downVote(comment)">
            <h4 style="margin: 0px" class="text-center">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                </button>
            </h4>
        </form>
    </div>
    <div class="col-xs-8">
        <!-- Display of the comment -->
        <form ng-controller="CommentController" ng-submit="updateComment(comment)">
            <textArea type=text ng-model="comment.text" class="big-textarea editable_display editable_display_no_border comment_edition" name="text" readonly="readonly" >
                {{comment.text}}
            </textArea>
            
            <span>
                <a href="/user/edit/{{comment.user.id}}">{{comment.user.username}}</a>
                <span> | {{ comment.created | date:"dd-MM-yyyy HH:mm:ss" }} </span>
            </span>

            <button type="submit" class="btn_to_display comment_edition hidden" name="editComment">
                 {{ 'COMMENT.SEND' | translate}}
            </button>
        </form>
    </div>

    <!-- Edit area -->
    <div ng-if="$parent.$parent.$parent.session.id == comment.user.id || $parent.$parent.$parent.isAdmin" class="text-right"> 
        <div ng-controller="CommentController" ng-click="toggleEditionComment($event, team)" class="btn btn-primary edit_btn comment_edition">
            <span class="glyphicon glyphicon-pencil" />
        </div>
        <button ng-controller="CommentController" ng-click="deleteComment(comment)" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"/>
        </button>
    </div>
</div>

