<div class="container" data-ng-controller="FeatureController">
    <div class="jumbotron">
        <h1 class="text-center">FEATURES</h1>
    </div>

    <div>
        <table class="table table-striped">
            <tbody>
                <tr ng-repeat="f in features">
                    <td class="text-center">
                        <h4><strong>{{f.name}}</strong></h4>
                    </td>
                    <td> 
                        <button ng-if="f.enable" type="submit" ng-click="toggleFeature(f)" class="btn btn-success">
                            {{ 'FEATURE.ENABLED' | translate }}
                        </button>
                        <button ng-if="!f.enable" type="submit" ng-click="toggleFeature(f)" class="btn btn-danger">
                            {{ 'FEATURE.DISABLED' | translate }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>