<div class="top-margin-50">
    <div id="logbox" class="top-margin-50">
        <form action="${postUrl ?: '/login/authenticate'}" method="POST" id="loginForm" autocomplete="off">
            <h1>{{ 'LOGIN.TITLE' | translate }}</h1>

            <input name="username" type="text" id="username" autofocus="autofocus"
                   class="input pass" placeholder="{{ 'LOGIN.FIELD.USERNAME' | translate }}"/>

            <input name="${passwordParameter ?: 'password'}" type="password" required="required" id="password"
                   placeholder="{{ 'LOGIN.FIELD.PASSWORD' | translate }}" class="input pass"/>

            <input type="submit" id="submit" value="{{ 'LOGIN.FIELD.SUBMIT' | translate }}" class="inputButton"/>

            <div class="text-center">
                <g:link controller="user" action="create">
                    <g:message code="login.link.signup" default="Register a new account"/>
                </g:link>
            </div>
        </form>
        <!--
        <g:if test='${flash.message}'>
            <div class="alert alert-danger top-margin-50">${flash.message}</div>
        </g:if>
        -->
    </div>
</div>