<div class="container top-margin-50">
    <div class="jumbotron">
        <h1 class="text-center">{{ 'QUESTION.CREATE.TITLE' | translate }}</h1>
    </div>

    <!-- Errors area
    <g:hasErrors bean="${this.question}">
        <ul class="errors" role="alert">
            <g:eachError bean="${this.question}" var="error">
                <li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message error="${error}"/></li>
            </g:eachError>
        </ul>
    </g:hasErrors>
    -->

    <form ng-controller="QuestionController" ng-submit="createQuestion(question)" autocomplete="off">
        <h3 class="text-center top-margin-50">{{ 'QUESTION.CREATE.FIELDS.TITLE' | translate }}</h3>
        <div class="row text-center top-margin-50">
            <input ng-model="question.title" type="text" autofocus="autofocus" class="text-center big-textarea"
                   placeholder="{{ 'QUESTION.CREATE.FIELDS.TITLE' | translate}}" autocomplete="off"/>
        </div>
        <div class="row top-margin-50">
            <textarea ng-model="question.text" class="big-textarea" rows="10" autocomplete="off"
                      placeholder="{{ 'QUESTION.CREATE.FIELDS.TEXT' | translate }}"></textarea>
        </div>

        <div class="row top-margin-50 text-center" data-ng-controller="TagController" data-ng-init="getTags()">
            <div class="right-margin-10 col-xs-3" ng-repeat="tag in tags">
                <input type="checkbox" ng-model="question.tags[$index].id" ng-true-value="{{tag.id}}" ng-false-value="{{undefined}}">
                <h3 style="display: inline-block">
                    <span class="label label-default right-margin-10">
                        {{tag.name}}
                    </span>
                </h3>
            </div>
        </div>

        <div class="text-center top-margin-50">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="text-center">{{ 'QUESTION.CREATE.NEW' | translate }}</span>
            </button>
        </div>
    </form>
</div>