<div class="container"><!-- TODO - Change title -->
    <div class="jumbotron">
        <h1 class="text-center">
            {{ 'QUESTION.HOME.TITLE' | translate }}</h1>
    </div>

    <!-- Flash message
    <div class="alert alert-warning text-center" role="status">

    </div>
    -->
    <div class="pull-right" style="margin-bottom: 20px" ng-if="username !== null">
        <a href="/question/add" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="text-center">Ask a question</span>
        </a>
    </div>
    <div>
        <table class="table table-striped">
            <tbody>
                <tr ng-repeat="q in questions">
                    <td class="text">
                        <h4 ng-if="q.resolved">
                            <label class="label label-success">
                                <span class="glyphicon glyphicon-ok"/>
                            </label>
                        </h4>
                    </td>
                    <td class="text-center">
                        <h4><strong>{{q.vote}}</strong></h4>
                    </td>
                    <td class="text-center">
                        <h4><a ng-click="show(q.id)">{{q.title}}</a></h4>
                    </td>
                    <td class="text-center">
                        <h4 style="display:inline-block;" ng-repeat="tag in q.tags">
                            <a controller="tag" action="show" id="${tag.id}">
                                <div class="label label-default right-margin-10">
                                    {{tag.name}}
                                </div>
                            </a>
                        </h4>
                    </td>
                    <td>
                        <h4>
                            <g:isOwner owner="${q.user}">
                                <g:link class="btn btn-primary" action="edit" id="${q.id}">
                                    <span class="glyphicon glyphicon-pencil"/>
                                </g:link>
                            </g:isOwner>
                        </h4>
                    </td>
                    <td>
                        <h4>
                            <sec:ifAllGranted roles="ROLE_ADMIN">
                                <g:form action="delete" controller="question" method="delete">
                                    <g:hiddenField name="id" value="${q.id}"/>
                                    <button class="btn btn-danger">
                                        <span class="glyphicon glyphicon-trash"/>
                                    </button>
                                </g:form>
                            </sec:ifAllGranted>
                        </h4>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        <!--
        <div>
            <g:paginate total="${questionCount ?: 0}" />
        </div>
        -->
</div>