<div class="container" data-ng-controller="QuestionController" data-ng-init="getQuestions()"><!-- TODO - Change title -->
    <div class="jumbotron">
        <h1 class="text-center">
            {{ 'QUESTION.HOME.TITLE' | translate }}</h1>
    </div>

    <!-- Flash message -->
    <div class="alert alert-warning text-center" ng-if="flash" role="status">
        {{ flash }}
    </div>

    <!-- Add a question -->
    <div class="pull-right" style="margin-bottom: 20px" ng-if="session">
        <a href="/question/add" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="text-center">{{ 'QUESTION.HOME.ASKQUESTION' | translate }}</span>
        </a>
    </div>

    <div ng-if="features['Question']">
        <table class="table table-striped">
            <tbody>
                <tr ng-repeat="q in questions">
                    <td class="text">
                        <h4 ng-if="q.resolved">
                            <label class="label label-success">
                                <span class="glyphicon glyphicon-ok"/>
                            </label>
                        </h4>
                    </td>
                    <td class="text-center">
                        <h4><strong>{{q.vote}}</strong></h4>
                    </td>
                    <td class="text-center">
                        <h4><a href="/question/get/{{q.id}}">{{q.title}}</a></h4>
                    </td>
                    <td ng-if="features['Tag']" class="text-center">
                        <h4 style="display:inline-block;" ng-repeat="tag in q.tags">
                            <a controller="tag" action="show" id="${tag.id}">
                                <div class="label label-default right-margin-10">
                                    {{tag.name}}
                                </div>
                            </a>
                        </h4>
                    </td>
                    <td>
                        <h4>
                            <a ng-if="session.id == q.user.id || isAdmin" class="btn btn-primary" href="/question/edit">
                                <span class="glyphicon glyphicon-pencil"/>
                            </a>
                        </h4>
                    </td>
                    <td>
                        <h4>
                            <button ng-if="isAdmin" ng-click="deleteQuestion(q)" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"/>
                            </button>
                        </h4>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>