<div class="container" data-ng-controller="QuestionController" data-ng-init="getQuestion()">
    <div class="jumbotron">
        <h1 class="text-center">
            {{question.title}}
            <div ng-if="question.resolved">
                <br />
                <h3 class="text-center top-margin-50">
                    <label class="label label-success">
                        {{ 'QUESTION.SHOW.RESOLVED' | translate }}
                        <span class="glyphicon glyphicon-ok"/>
                    </label>
                </h3>
            </div>
        </h1>
    </div>

    <div class="row top-margin-50">
        <div class="col-xs-1">
            <!-- Part on the right for voting -->
            <form ng-controller="QuestionController" ng-submit="upVote(question)">
                <h3 style="margin : 0px" class="text-center">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-triangle-top"></span>
                    </button>
                </h3>
            </form>
            <!-- Display the value -->
            <h3 style="margin: 0px" class="text-center">
                    <span>
                        {{question.vote}}
                    </span>
            </h3>
            <form ng-controller="QuestionController" ng-submit="downVote(question)">
                <h3 style="margin: 0px" class="text-center">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                    </button>
                </h3>
            </form>
        </div>
        <div class="col-xs-11">
            <!-- Display of the question -->
            <p>{{question.text}}</p>
        </div>
    </div>
    <!-- Display the user -->
    <div class="text-right">
        <a href="/user/edit">{{question.user.username}}</a>
        <span class="badge">{{question.user.reputation}}</span><br />
        {{ 'CREATED' | translate }} {{ question.created | date:"dd-MM-yyyy HH:mm:ss" }}<br />
        <div ng-if="question.edited != null">
            {{ 'EDITED' | translate }} {{ question.edited | date:"dd-MM-yyyy HH:mm:ss" }}<br />
        </div>
    </div>

    <div class="comments">
        <div ng-repeat="comment in question.comments">
            <tr>
                <td>
                    <comment comment="comment"></comment>
                </td>
            </tr>
            <hr />
        </div>
    </div>

    <form ng-controller="CommentController" ng-submit="createComment(comment,null,question.id)">
        <div class="row top-margin-50">
            <textarea type="text" ng-model="comment.text" class="big-textarea add-comment" rows="10"
                        placeholder="Add a new comment..."></textarea>
        </div>

        <div class="text-center top-margin-50">
            <button type="submit" class="btn btn-success add-comment">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </form>


    <h2 class="top-margin-50"> {{ 'QUESTION.ANSWERS' | translate }}</h2>
    <hr/>
     <div ng-repeat="answer in question.answers">
        <tr>
            <td>
                 <answer answer="answer"></answer>
            </td>
        </tr>
        <hr />
    </div>

    <!-- Add answer -->
    <form ng-controller="AnswerController" ng-submit="createAnswer(answer,question.id)" autocomplete="off">
        <div class="row top-margin-50">
            <textarea type=text ng-model="answer.text" class="big-textarea add-answer" rows="10" autocomplete="off"
                        placeholder="Add a new answer..."></textarea>
        </div>
        <div class="text-center top-margin-50">
            <button type="submit" class="btn btn-success add-answer">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </form>

    <!-- Question solved -->
    <div ng-if="session.id == question.user.id && !question.resolved">
        <div class="top-margin-50 text-center">
            <button type="submit" ng-click="setResolved(question)" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"/>
                {{ 'QUESTION.SHOW.SETASRESOLVED' | translate }}
                <span class="glyphicon glyphicon-ok"/>
            </button>
        </div>
    </div>
</div>