<!DOCTYPE html>
<html lang="fr" class="utf-8" ng-app="StackOverflowClient">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <base href="/index.html">

    <title>Stack Overflow de Pierre et Adrien</title>

    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico">

    <!-- JQuery & Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="assets/javascripts/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/application.css" />

    <!-- Angular + Libs -->
    <script src="libs/angular.min.js" type="text/javascript"></script>
    <script src="libs/angular-route.min.js" type="text/javascript"></script>
    <script src="libs/angular-animate.min.js" type="text/javascript"></script>
    <script src="libs/angular-translate.min.js" type="text/javascript"></script>
    <script src="libs/angular-resource.min.js" type="text/javascript"></script>

    <!-- Fichiers de traduction -->
    <script src="i18n/angular-locale_en-US.js"></script>
    <script src="i18n/angular-locale_fr-FR.js"></script>

    <script src="app.js" type="text/javascript"></script>

    <!-- Controllers -->
    <script src="controllers/AppController.js" type="text/javascript"></script>
    <script src="controllers/QuestionController.js" type="text/javascript"></script>
    <script src="controllers/AnswerController.js" type="text/javascript"></script>
    <script src="controllers/CommentController.js" type="text/javascript"></script>
    <script src="controllers/TagController.js" type="text/javascript"></script>
    <script src="controllers/LoginController.js" type="text/javascript"></script>
    <script src="controllers/UserController.js" type="text/javascript"></script>
    <script src="controllers/FeatureController.js" type="text/javascript"></script>
    
    <!-- Directives -->
    <script src="directives/comment.js" type="text/javascript"></script>
    <script src="directives/answer.js" type="text/javascript"></script>

    <!-- Services -->
    <script src="services/SessionService.js" type="text/javascript"></script>
    <script src="services/AuthService.js" type="text/javascript"></script>
    <script src="services/QuestionService.js" type="text/javascript"></script>
    <script src="services/UserService.js" type="text/javascript"></script>
    <script src="services/CommentService.js" type="text/javascript"></script>
    <script src="services/AnswerService.js" type="text/javascript"></script>
    <script src="services/FeatureService.js" type="text/javascript"></script>

</head>
<body ng-controller="AppController">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                </button>
                <a class="navbar-brand" href="/">{{ 'MENU.HOME' | translate }}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                <!-- Login part -->
                <div class="nav navbar-nav navbar-right">
                    <div ng-if="session">
                        <a class="navbar-brand" href="/user/edit/{{session.id}}">{{session.username}}</a>
                        <a class="navbar-brand" href="/" ng-controller="LoginController" ng-click="logout()">{{ 'MENU.USER.SIGNOUT' | translate }}</a>
                    </div>
                    <div ng-if="!session">
                        <a class="navbar-brand" href="/user/create">{{'MENU.USER.SIGNUP' | translate }}</a>
                        <a class="navbar-brand" href="/login">{{'MENU.USER.SIGNIN' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- View -->
    <div ng-view></div>
</body>
</html>