<div class="editable_post_block answer_edition">
    <div class="row">
        <div class="col-xs-1">
            <!-- Part on the right for voting -->
            <form form ng-controller="AnswerController" ng-submit="upVote(answer)">
                <h3 style="margin : 0px" class="text-center">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-triangle-top"></span>
                    </button>
                </h3>
            </form>
            <!-- Display the value -->
            <h3 style="margin: 0px" class="text-center">
                <span>
                    {{answer.vote}}
                </span>
            </h3>
            <form form ng-controller="AnswerController" ng-submit="downVote(answer)">
                <h3 style="margin: 0px" class="text-center">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                    </button>
                </h3>
            </form>
        </div>
        <div class="col-xs-11">
            <!-- Display of the answer -->
            <form >
                <textArea class="big-textarea editable_display editable_display_no_border answer_edition" name="text" readonly="readonly" >
                    {{answer.text}}
                </textArea>
                <button class="btn_to_display answer_edition hidden" name="editComment" value="Edit" />
            </form>
        </div>
    </div>
     <div class="text-right">
        <a href="/user/edit">{{answer.user.username}}</a>
        <span class="badge">{{answer.user.reputation}}</span><br />
        {{ 'CREATED' | translate }} {{ answer.created | date:"dd-MM-yyyy HH:mm:ss" }}<br />
        <div ng-if="answer.edited != null">
            {{ 'EDITED' | translate }} {{ answer.edited | date:"dd-MM-yyyy HH:mm:ss" }}<br />
        </div>
    </div>

    <!-- Comments -->
    <div class="comments">
        <div ng-repeat="comment in answer.comments">
            <tr>
                <td>
                    <comment comment="comment"></comment>
                </td>
            </tr>
            <hr />
        </div>
    </div>

    <form ng-controller="CommentController" ng-submit="createComment(comment,answer.id,null)" autocomplete="off">
        <div class="row top-margin-50">
            <textarea type=text ng-model="comment.text" class="big-textarea add-comment" rows="10" autocomplete="off"
                        placeholder="Add a new comment..."></textarea>
        </div>
        <div class="text-center top-margin-50">
            <button type="submit" class="btn btn-success add-comment">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </form>

    <div class="text-center top-margin-25 row">
        <g:isOwner owner="${answer.user}">
            <!-- Edit area -->
            <div class="col-xs-6">
                <input type="button" class="btn btn-primary glyphicon-pencil edit_btn answer_edition" value="{{ 'ANSWER.EDITANSWER' | translate}}" />
            </div>
            <div class="col-xs-6">
                <g:form method="DELETE" controller="answer" action="delete">
                    <g:hiddenField name="id" value="${answer.id}" />
                    <button type="submit" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"/>
                        <g:message code="default.button.delete" default="Delete" />
                    </button>
                </g:form>
            </div>
        </g:isOwner>
    </div>
</div>