<div class="editable_post_block answer_edition">
    <div class="row">
        <div ng-if="$parent.features['Vote']" class="col-xs-1">
            <!-- Part on the right for voting -->
            <form form ng-controller="AnswerController" ng-submit="upVote(answer)">
                <h3 style="margin : 0px" class="text-center">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-triangle-top"></span>
                    </button>
                </h3>
            </form>
            <!-- Display the value -->
            <h3 style="margin: 0px" class="text-center">
                <span>
                    {{answer.vote}}
                </span>
            </h3>
            <form form ng-controller="AnswerController" ng-submit="downVote(answer)">
                <h3 style="margin: 0px" class="text-center">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                    </button>
                </h3>
            </form>
        </div>
        <div class="col-xs-11">
            <!-- Display of the answer -->
            <form ng-controller="AnswerController" ng-submit="updateAnswer(answer)">
                <textArea type=text ng-model="answer.text" class="big-textarea editable_display editable_display_no_border answer_edition" name="text" readonly="readonly" >
                    {{answer.text}}
                </textArea>
                <button type="submit" class="btn_to_display answer_edition hidden" name="editAnwser">
                     {{ 'ANSWER.SEND' | translate}}
                </button>
            </form>
        </div>
    </div>
     <div ng-if="$parent.features['User']" class="text-right">
        <a href="/user/edit">{{answer.user.username}}</a>
        <span class="badge">{{answer.user.reputation}}</span><br />
        {{ 'CREATED' | translate }} {{ answer.created | date:"dd-MM-yyyy HH:mm:ss" }}<br />
        <div ng-if="answer.edited != null">
            {{ 'EDITED' | translate }} {{ answer.edited | date:"dd-MM-yyyy HH:mm:ss" }}<br />
        </div>
    </div>

    <!-- Comments -->
    <div ng-if="$parent.features['Comment']" class="comments">
        <div ng-repeat="comment in answer.comments">
            <tr>
                <td>
                    <comment comment="comment"></comment>
                </td>
            </tr>
            <hr />
        </div>
    

        <form ng-controller="CommentController" ng-submit="createComment(comment,answer.id,null)" autocomplete="off">
            <div class="row top-margin-50">
                <textarea type=text ng-model="comment.text" class="big-textarea add-comment" rows="10" autocomplete="off"
                            placeholder="Add a new comment..."></textarea>
            </div>
            <div class="text-center top-margin-50">
                <button type="submit" class="btn btn-success add-comment">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </form>
    </div>

    <div ng-if="$parent.session.id == answer.user.id || $parent.isAdmin" class="text-center top-margin-25 row">
        <!-- Edit area -->
        <div class="col-xs-6">
            <div ng-controller="AnswerController" ng-click="toggleEditionAnswer($event, team)" class="btn btn-primary glyphicon-pencil edit_btn answer_edition">
                <span>{{ 'ANSWER.EDITANSWER' | translate}} </span>
            </div>
        </div>
        <div class="col-xs-6">
            <button ng-controller="AnswerController" ng-click="deleteAnswer(answer)" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"/>
        </button>
        </div>
    </div>
</div>