<div class="top-margin-50">
    <div id="logbox" class="top-margin-50">
        <form ng-controller="LoginController" ng-submit="login(credentials)" autocomplete="off" novalidate>
            <h1>{{ 'LOGIN.TITLE' | translate }}</h1>

            <input ng-model="credentials.username" type="text" autofocus="autofocus"
                   class="input pass" placeholder="{{ 'LOGIN.FIELD.USERNAME' | translate }}"/>

            <input ng-model="credentials.password" type="password" required="required" id="password"
                   placeholder="{{ 'LOGIN.FIELD.PASSWORD' | translate }}" class="input pass"/>

            <button type="submit" class="inputButton">{{ 'LOGIN.FIELD.SUBMIT' | translate }}</button>

            <div class="text-center">
                <a href="create.html">
                    {{ 'LOGIN.SIGNUP' | translate }}
                </a>
            </div>
        </form>
        <div ng-if="error" class="alert alert-danger top-margin-50">
            {{error}}
        </div>
    </div>
</div>