<div class="container top-margin-50" data-ng-controller="UserController" data-ng-init="getUser()">

    <h1 class="text-center">
        {{ user.username }} {{ 'USER.TITLE' | translate }}
        <span class="badge">{{user.reputation}}</span>
    </h1>

    <div ng-if="session && session.id === user.id">
        <form><!-- update user -->

            <!-- User information -->
            <div class="panel panel-primary top-margin-50">
                <div class="panel-heading">
                    <h3>{{ 'USER.EDIT.TITLE' | translate }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4" style="display: inline-block">
                            <label>{{ 'USER.EDIT.USERNAME' | translate }}</label> <br/>
                            <label>{{ 'USER.EDIT.EMAIL' | translate }}</label> <br/>
                            <label>{{ 'USER.EDIT.PASSWORD' | translate }}</label> <br/>
                        </div>
                        <div class="col-md-6" style="display: inline-block">
                            <input ng-model="user.username" type="text" pattern="^[\w]{3,16}$" autofocus="autofocus"
                                   placeholder="{{user.username}}"/> <br />
                            <input ng-model="user.email" type="email"
                                   placeholder="{{user.email}}"/> <br />
                            <input ng-model="user.password" type="password" /> <br />
                        </div>
                    </div>
                    <hr/>
                    <div class="row text-center">
                        <button type="submit" class="btn btn-warning text-center">
                            <strong>
                                {{ 'USER.EDIT.BUTTON.EDIT' | translate }}
                            </strong>
                        </button>
                    </div>
                </div>
            </div>
            </g:isOwner>

            <!-- Admin Options -->
            <div ng-if="isAdmin" class="panel panel-danger top-margin-50">
                <div class="panel-heading">
                    <h3>{{ 'USER.EDIT.ADMIN' | translate}}</h3>
                </div>
                <div class="panel-body">
                    <h4 class="text-center">{{ 'USER.EDIT.ROLE.TITLE' | translate }}</h4>
                    <div class="row text-center top-margin-50">
                        <div class="col-xs-6">
                            <input type="checkbox" name="ROLE_USER">
                            <label>{{ 'USER.EDIT.ROLE.USER' | translate }}</label>
                        </div>
                        <div class="col-xs-6">
                            <input type="checkbox" name="ROLE_ADMIN">
                            <label>{{ 'USER.EDIT.ROLE.ADMIN' | translate }}</label>
                        </div>
                    </div>
                    <hr/>
                    <div class="row text-center">
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-warning text-center">
                                <strong>
                                    ${message(code: 'user.update.button', default: 'Update the user')}
                                </strong>
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-danger text-center">
                                <span class="glyphicon glyphicon-minus"></span>
                                <span><strong>
                                    ${message(code: 'user.delete.button')}
                                </strong></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Questions -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>${message(code: 'user.question.title', default: 'Questions asked')}</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">Votes</th>
                    <th class="text-center">Question</th>
                    <th class="text-center">Tags</th>
                </tr>
                </thead>
                <tbody>
                <g:each in="${user.questions}" var="question">
                    <tr class="text-center">
                        <td>${question.vote}</td>
                        <td>
                            <g:link controller="question" action="show" id="${question.id}">
                                ${question.title}
                            </g:link>
                        </td>
                        <td>
                            <g:each in="${question.tags}" var="tag">
                                <g:link controller="tag" action="show" id="${tag.id}">
                                    <div class="label label-default right-margin-10">
                                        ${tag.name}
                                    </div>
                                </g:link>
                            </g:each>
                        </td>
                    </tr>
                </g:each>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Answers -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>${message(code:'user.answer.title', default:'Answers')}</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">Votes answers</th>
                    <th class="text-center">Votes question</th>
                    <th class="text-center">Question</th>
                    <th class="text-center">Tags</th>
                </tr>
                </thead>
                <tbody>
                <g:each in="${user.answers}" var="answer">
                    <tr class="text-center">
                        <td>${answer.vote}</td>
                        <td>${answer.question.vote}</td>
                        <td>
                            <g:link controller="question" action="show" id="${answer.question.id}">
                                ${answer.question.title}
                            </g:link>
                        </td>
                        <td>
                            <g:each in="${answer.question.tags}" var="tag">
                                <g:link controller="tag" action="show" id="${tag.id}">
                                    <div class="label label-default right-margin-10">
                                        ${tag.name}
                                    </div>
                                </g:link>
                            </g:each>
                        </td>
                    </tr>
                </g:each>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Badges -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>${message(code: 'user.badges.title')}</h3>
        </div>
        <div class="panel-body">
            <g:each in="${user.badges}" var="badge">
                <span class="label label-success right-margin-10">
                    ${badge.name}
                </span>
            </g:each>
        </div>
    </div>
</div>